<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <div class="row align-items-center" style="height:700px">
    <div class="mx-auto">
      <div style="width:400px">
        <img src="/assets/images/logo.png" class="mx-auto d-block" style="margin-bottom:20px">
        <form action="/signin" method="post">
          <input type="text" name="name" placeholder="username" class="form-control"><br>
          <input type="password" name="password" placeholder="password" class="form-control"><br>
          <button type="submit" class="btn btn-secondary btn-block">SIGN IN</button>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <a href="/signup">新規登録</a>
  </div>


</div>







</div>
